@{
    ViewBag.Title = "Начална страница";
}

<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Problend: Пакетиране на стикове и сашета</h2>
                <p>
                    Уеб приложение направено за служителите на фирмата. Достъпът до фунционалността на системата става чрез задаване на роля от администратор.
                </p>
                <a href="~/Account/Login" class="btn btn-success btn-lg">Вход</a>
            </div>
        </div>
    </div>
</div>