<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5532e7ae-a6b2-4e22-b2b5-afbbde4b63c1/resourceGroups/problend/providers/Microsoft.Web/sites/problend</ResourceId>
    <ResourceGroup>problend</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://problend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>problend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>problend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$problend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProblendDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProblendDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Problend.Models.ProblendDBContext, Problend" MigrationConfiguration="Problend.Migrations.Configuration, Problend" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProblendDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:problenddb.database.windows.net,1433;Initial Catalog=ProblendDB;Persist Security Info=False;User ID=SugerAdmin;Password=z@har4eto;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>